.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 100%;
    align-items: center;
    margin: 1rem 0 1.5rem 0;
}

.hr1 {
    width: 90%;
    margin-bottom: 1rem; 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, transparent, #b6b6b6, transparent);  
}