.card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 540px;
    border-radius: 0.25rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.25);
    margin: 1.5rem 1rem;
    justify-content: space-between;
    transition: transform 200ms;
}

.card:hover {
    transform: scale(1.075);
}

.poster {
    border-radius: 0.25rem;
    width: 100%;
}

.title {
    color: white;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #b6b6b6;
    font-weight: 300;
}

.badge {
    color: #b6b6b6;
    font-weight: 300;
}

.type {
    border: 1px solid #f9002b;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: 400;
}

.notype {
    border: none;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 150px;
    }

    .title {
        font-size: 1rem;
    }

    .subtitle {
        font-size: 0.7rem;
    }

    .badge {
        font-size: 0.7rem;
    }

    .language {
        font-size: 0.7rem;
    }
}
