.navbar {
    position: fixed;
    background-color: black;
    transition: all 200ms ease;
    z-index: 100;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    background: #15181c;
}

.logo .text {
    margin-left: 1.5rem;
    margin-right: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    font-family: 'Quicksand', sans-serif;
}

.logo .svg {
    transform: rotate(0deg);
    transition: 300ms;
}

.navbar:hover .logo .svg {
    transform: rotate(-180deg);
    color: white;
}

.item {
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 5rem;
    text-decoration: none;
    transition: 200ms;
    width: 100%;
}

.link:hover {
    background: #15181c;
}

.text {
    color: black;
    display: none;
    margin-left: 1rem;
    letter-spacing: 0.25rem;
    transition: 200ms;
}

.svg {
    min-height: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
    color: white;
    transition: 200ms;
}

.svg-scroll {
    transform: rotate(90deg);
}

.item-scroll {
    cursor: pointer;
}

.nav .item .active-link .svg {
    color: #f9002b;
}

.item .active-link .text {
    color: #f9002b;
}

@media only screen and (max-width: 900px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar:hover .logo .svg {
        transform: rotate(270deg);
    }

    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .link {
        justify-content: center;
    }

    .link:hover {
        background: black;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
        background-color: white;
    }

    .navbar:hover ~ .main {
        filter: blur(5px);
    }

    .navbar:hover .text {
        display: inline;
    }

    .item:last-child {
        margin-top: auto;
    }

    .link:hover .text {
        color: white;
    }
    
    .item .link:hover .svg {
        color: white;
    }

    .navbar:hover .svg {
        color: black;
}
}