.navbar {
    position: fixed;
    background-color: white;
    transition: width 200ms ease;
    z-index: 100;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.logo {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    background: black;
}

.logo .text {
    margin-left: 1.5rem;
    margin-right: 4rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    font-family: 'Quicksand', sans-serif;
}

.logo .svg {
    transform: rotate(0deg);
    transition: 300ms;
}

.navbar:hover .logo .svg {
    transform: rotate(-180deg);
}

.item {
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%);
    transition: 200ms;
    width: 100%;
}

.link:hover {
    filter: grayscale(0%);
    background: black;
    color: white;
}

.text {
    display: none;
    margin-left: 1rem;
    letter-spacing: 0.25rem;
}

.svg {
    min-height: 1.5rem;
    min-width: 1.5rem;
    margin: 0 1.5rem;
    color: #f9002b;
    transition: 200ms;
}

.svg-scroll {
    transform: rotate(90deg);
}

.item-scroll {
    cursor: pointer;
}

.active-link {
    filter: grayscale(0%);
    color: #f9002b;
}

@media only screen and (max-width: 900px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar:hover .logo .svg {
        transform: rotate(270deg);
    }

    .nav {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .link {
        justify-content: center;
    }
}

@media only screen and (min-width: 900px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover ~ .main {
        filter: blur(5px);
    }

    .navbar:hover .text {
        display: inline;
    }

    .item:last-child {
        margin-top: auto;
    }
}